  section {
    display: inline-block;
    background-color: grey;
    max-width: 480px;
  }
  div:nth-child(1) {
    text-align: center;
    width: 480px;
    height: 75px;
    outline: 1px solid black;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: red;
   }
   div:nth-child(2){
     text-align: center;
     outline: 1px solid black;
     width: 480px;
     height: 150px;
     clear: both;
     float: left;
     justify-content: center;   
     display: flex;   
     align-items: center;
     background-color: indigo;
   }
   div:nth-child(3){
    text-align: center;
    outline: 1px solid black;
    width: 480px;
    height: 125px;
    /* clear: both; */
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: peru;
  }
  div:nth-child(4){
    text-align: center;
    outline: 1px solid black;
    width: 480px;
    height: 125px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: khaki;
  }
  div:nth-child(5){
    text-align: center;
    outline: 1px solid black;
    width: 240px;
    height: 250px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: lightcoral;
  }
  div:nth-child(6){
    text-align: center;
    outline: 1px solid black;
    width: 240px;
    height: 250px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: maroon;
  }
  div:nth-child(7){
    text-align: center;
    outline: 1px solid black;
    width: 240px;
    height: 250px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: magenta;
  }
  div:nth-child(8){
    text-align: center;
    outline: 1px solid black;
    width: 240px;
    height: 250px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: mediumspringgreen;
  }
  div:nth-child(9){
    text-align: center;
    outline: 1px solid black;
    width: 480px;
    height: 80px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: orchid;
  } 
/* } */
@media only screen and (min-width: 768px) {
  section {
    display: inline-block;
    background-color: grey;
    max-width: 960px;
  }
  div:nth-child(1) {
    text-align: center;
    width: 960px;
    height: 100px;
    outline: 1px solid black;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: aquamarine;
   }
   div:nth-child(2){
     text-align: center;
     outline: 1px solid black;
     width: 200px;
     height: 600px;
     clear: both;
     float: left;
     justify-content: center;   
     display: flex;   
     align-items: center;
     background-color: blue;
   }
   div:nth-child(3){
    text-align: center;
    outline: 1px solid black;
    width: 380px;
    height: 200px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: coral;
  }
  
  div:nth-child(4){
    text-align: center;
    outline: 1px solid black;
    width: 380px;
    height: 200px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: darkcyan;
  }
  div:nth-child(5){
    text-align: center;
    outline: 1px solid black;
    width: 190px;
    height: 250px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: cornflowerblue;
  }
  div:nth-child(6){
    text-align: center;
    outline: 1px solid black;
    width: 190px;
    height: 250px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: deeppink;
  }
  div:nth-child(7){
    text-align: center;
    outline: 1px solid black;
    width: 190px;
    height: 250px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: fuchsia;
  }
  div:nth-child(8){
    text-align: center;
    outline: 1px solid black;
    width: 190px;
    height: 250px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: goldenrod;
  }
  div:nth-child(9){
    text-align: center;
    outline: 1px solid black;
    width: 760px;
    height: 150px;
    float: left;
    justify-content: center;   
    display: flex;   
    align-items: center;
    background-color: sienna;
  }
  }
